@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

:root {
    --white: #FFFFFF;
    --mango: orangered;
    --coffee: #342E37;
    --greenDark:#1a2305;
}

.App {
    min-height: 100vh;
    background-color:  #0f0f0f;
    font-family: 'Inconsolata', monospace, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora {
    width: 400px;
    height: 570px;
    background-color:rgba(255, 255, 255, 0.9);
    border: 2px solid white;
}

.fila{
    margin: 4px;
    display:flex;
    align-items: center;
    align-content: center;
}