@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

.App {
    min-height: 100vh;
    background-color:  #232323;
    font-family: 'Inconsolata', monospace, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora {
    background-color: rgb(230, 230, 230);
    border: 1px solid white;
    box-shadow: 1px 1px 3px rgb(199, 199, 199);
    border-radius: 10px;
}

.fila{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0.3rem;
    margin: 0.5rem;
}